<footer class="footer mt-auto py-3">
    <div class="container py-4">
        <div class="row m-0">
            <div class="col-12 col-md-4 mb-4 mb-md-0 text-center text-md-start">
                <h5 class="fw-bold mb-3">About Us</h5>
                <p class="footer-text">Fresh Fruits, Fresh Life. We're passionate about delivering the best fruits to
                    your doorstep. Quality, freshness, and customer satisfaction are our top priorities</p>
                <div class="d-flex gap-4 justify-content-center justify-content-md-start mt-3"> <a href="#"
                        class="footer-social-icon"><i class="fs-2 fa-brands fa-facebook"></i></a>
                    <a href="#" class="footer-social-icon"><i class="fs-2 fa-brands fa-twitter"></i></a>
                    <a href="#" class="footer-social-icon"><i class="fs-2 fa-brands fa-linkedin"></i></a>
                    <a href="#" class="footer-social-icon"><i class="fs-2 fa-brands fa-github"></i></a>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0 text-center">
                <h5 class="fw-bold mb-3">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none footer-link">Home</a></li>
                    <li><a href="#" class="text-decoration-none footer-link">About</a></li>
                    <li><a href="#" class="text-decoration-none footer-link">Contact</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-4 mb-4 mb-md-0 text-center text-md-start">
                <h5 class="fw-bold mb-3">Contact Us</h5>
                <ul class="list-unstyled contact-list">
                    <li class="mb-2 "><i class="fas fa-map-marker-alt me-2"></i> Address: Jamshedpur, Jharkhand India
                    </li>
                    <li class="mb-2"><i class="fas fa-phone me-2"></i> Phone: +91 7061 967 497</li>
                    <li class="mb-2"><i class="fas fa-envelope me-2"></i> Email: <a
                            href="mailto:mandalprakash2006@gmail.com"
                            class="footer-link">mandalprakash2006@gmail.com</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>

<div class="row m-0 copyright-section">
    <div class="col-12 text-center fw-bold">
        <p class="m-0 copyright-text">&copy; 2025 FruitBasket. All rights reserved.</p>
    </div>
</div>