.about-one {
    background-image: url("/assets/images/fruit-background.jpg");
}

.about-two {
    background-image: url("/assets/images/my-journey.jpg");
    background-size: cover;
}

.about-three {
    background-image: url("/assets/images/blue-background.jpg");
}